<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Oyun Yolcusu - Güncel Oyun Haberleri</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    <link href="~/Content/styles.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="@Url.Action("Index", "New")">Oyun Yolcusu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="@Url.Action("Index", "New")">Gündem</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">Kategoriler</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "New")">FPS</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "New")">MMO</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "New")">RPG</a></li>
                        </ul>
                    </li>
                    @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Kategoriler</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("Index", "New")">FPS</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "New")">MMO</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "New")">RPG</a></li>
                            </ul>
                        </li>*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">Platformlar</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item"><a class="nav-link" href="https://store.steampowered.com/?l=turkish">Steam</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://store.epicgames.com/en-US/">Epic</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://store.ubisoft.com/tr/games">Ubisoft</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://www.ea.com/?setLocale=en-us">EA</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://eu.shop.battle.net/en-us?">Battle.net</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn">
                        @if (Session["User_name"] != null)
                        {
                            <span class="navbar-text">@Session["User_name"]</span>
                        }
                    </button>
                    @*<button class="btn btn-outline-dark" type="submit">
                            Kayıt Ol
                        </button>
                        <button class="btn btn-outline-dark" type="submit">
                            Giriş Yap
                        </button>*@
                </form>
            </div>
            @using (Html.BeginForm("Logout", "Login", FormMethod.Post, new { id = "logoutForm" }))
            {
                <button type="submit" class="btn btn-warning">Çıkış Yap</button>
            }
        </div>
    </nav>

    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h4 class="display-4 fw-bolder">Güncel ve Son dakika Oyun Haberleri</h4>
            </div>
        </div>
    </header>

    <div class="content">
        @RenderBody();
    </div>

    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Oyun Yolcusu 2024</p></div>
    </footer>

    <script src="~/Content/scripts.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="sha384-xr5rkhI9kJIBINaAL+8eKTlLC8y5LlOBfrqo2FjPwhzU/8F+73P0JpXfjBQtEZ2X" crossorigin="anonymous"></script>

</body>
</html>